# WARNING!
#
# I'm not sure about all this patterns
# Please Cynbe have a look at these
#
# -Bolthar

# 2010-02-13 CrT: was bin/*, changed to bin/*old:
# 2010-02-15 Bth: removed 'bin' from gitignore
# 2010-11-08 Bth: changed o7 to compile

src/app/c-glue-maker/Makefile
src/c/config.status
src/c/heapcleaner/Makefile
src/c/hostthread/Makefile
src/c/lib/Makefile
src/c/lib/ccalls/Makefile
src/c/lib/date/Makefile
src/c/lib/dynamic-loading/Makefile
src/c/lib/heap/Makefile
src/c/lib/hostthread/Makefile
src/c/lib/kludge/Makefile
src/c/lib/math/Makefile
src/c/lib/posix-error/Makefile
src/c/lib/posix-file-system/Makefile
src/c/lib/posix-io/Makefile
src/c/lib/posix-os/Makefile
src/c/lib/posix-passwd/Makefile
src/c/lib/posix-process-environment/Makefile
src/c/lib/posix-process/Makefile
src/c/lib/posix-tty/Makefile
src/c/lib/signal/Makefile
src/c/lib/socket/Makefile
src/c/lib/space-and-time-profiling/Makefile
src/c/lib/templates/Makefile
src/c/lib/time/Makefile
src/c/o/Makefile
src/c/ram/Makefile
src/lib/c-glue/Makefile
src/lib/tk/Makefile
src/lib/tk/src/Makefile
src/lib/x-kit/tut/show-graph/Makefile
bin
mythryld-bootstrap
mythryld-bare
mythryld
mythryl-yacc
mythryl-runtime-*
mythryl-lex
tmp-makelib-pid-*
*.grammar.api
*.grammar.pkg
*.grammar.desc
*.lex.pkg
*.COMPILED_FILES_TO_LOAD
*.lib.index
*.sublib.index
*.pkg.compiled
*.api.compiled
*.cmi.frozen
*.lib.frozen
*.log
*.version
*.module-dependencies-summary
*.o
*.a
INDEX
TAGS
*.LINKARGS
COMPILED_FILES_TO_LOAD
*~
+nprocs
# *-export.lib     # Commented this out 2010-07-29 CrT
# *-export.make6   # Commented this out 2010-07-29 CrT
# Makefile         # Commented this out 2010-03-13 CrT
!wrap-export.pkg
v-*-linux

