# WARNING!
#
# I'm not sure about all this patterns
# Please Cynbe have a look at these
#
# -Bolthar

# 2010-02-13 CrT: was bin/*, changed to bin/*old:
# 2010-02-15 Bth: removed 'bin' from gitignore
# 2010-11-08 Bth: changed o7 to compile

bin
*.compile
*.a7
*_LOG
*.version
*.module-dependencies-summary
*.o
*.a
*.INDEX
*.LINKARGS
*OH7_FILES_TO_LOAD
*~
# *-export.lib     # Commented this out 2010-07-29 CrT
# *-export.make6   # Commented this out 2010-07-29 CrT
# Makefile         # Commented this out 2010-03-13 CrT
!wrap-export.pkg
v-x86-linux

