/* style.css - a simple style sheet */
/* 2007-12-20 CrT: Swiped from http://www.w3.org/MarkUp/Guide/Style */
body { 

    margin-left: 10%; margin-right: 10%;
    h1 {  margin-left: -8%;} }
    h2,h3,h4,h5,h6 {  margin-left: -4%; } }

    /* "Most browsers use a larger font size for more important headings.  */
    /*   If you override the default size, you run the risk of making the  */
    /*   text too small to be legible, particularly if you use points.     */
    /*   You are therefore recommended to specify font sizes in relative   */
    /*   terms."                                                           */

    /* "This example sets heading sizes in percentages relative to the size */
    /*  used for normal text:"                                              */

    /* h3 {  font-size: 100%; } */
    /* h2 {  font-size: 150%; } */
    h1 {  font-size: 100%; }

    /*  color: black; background: white; */

    /* "It is likely that your favorite font won't be available on all         */
    /*  browsers. To get around this, you are allowed to list several fonts in */
    /*  preference order. There is a short list of generic font names which    */
    /*  are guaranteed to be available, so you are recommended to end your     */
    /*  list with one of these: serif, sans-serif, cursive, fantasy, or        */
    /*  monospace, for instance:                                               */

    body {  font-family: Verdana, sans-serif; }
    h1,h2 {  font-family: Garamond, "Times New Roman", serif; }

    /* "In this example, important headings would preferably be shown in         */
    /*  Garamond, failing that in Times New Roman, and if that is unavailable    */
    /*  in the browsers default serif font. Paragraph text would appear in       */
    /*  Verdana or if that is unavailable in the browser's default sans-serif    */
    /*  font."                                                                   */

    /* "The legibility of different fonts generally depends more on the height   */
    /*  of lower case letters than on the font size itself. Fonts like Verdana   */
    /*  are much more legible than ones like "Times New Roman" and are therefore */
    /*  recommended for paragraph text."                                         */

    a       { text-decoration:none; }	/* Kill hotlink underlines.         */
    a:hover { color:#FF0000;        }	/* Turn hotlinks red on mouse-over. */

}

